.room {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.room .part-container > * {
  width: 100%;
  height: 100%;
}

.room .title-part-container {
  display: flex;
  align-items: center;
  flex-basis: 50px;
}

.room .list-part-container {
  display: flex;
  flex: 1;
}

.room .menu-part-container {
  display: flex;
  flex-basis: 50px;
  background: purple;
}

.room .title-part .title {
}

.room .player-list {
  display: flex;
  width: 100%;
  height: 100%;
}

.room .player-list .player-container {
  width: 25%;
  height: 50%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

.room .player-list .player-container .content {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.room .menu-part {
  display: flex;
}

.room .menu-part .button-container {
  display: flex;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.room .menu-part .button-container > * {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}