@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}
#app{
  width: 100%;
  height: 100%;
  overflow: hidden;

}
#game {
  position: relative;

}

.ingame  {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;  
  display : flex;
  flex-direction: column;
  flex-shrink: inherit;
  border-radius: 5px;

}


.ingameContainer{
  box-sizing : border-box;
  display :flex ; 
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.header {
  border-radius: 5px;
  flex-basis: 40px; 
}

.headertext {
  font-size  : 30px;
  font-weight : bold ; 
  font-size: 40px;
  

}


.section {
 
  flex: 1;
  border-radius: 5px;
  box-sizing : border-box;
  position: relative;
  /* border: 3px solid darkgoldenrod; */
  padding: 5px;
  /* margin: 3px; */
  
}

.map{ 

  position : absolute;
  transform-origin: 0 0 ;
  box-sizing: border-box;
  /* 스케일 변화를 동적으로  */

  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%,50%);
  -ms-transform: translate(50%,50%);
  transform: translate(50%,50%); */
}

.aside {
  box-sizing : border-box;
  /* display :flex ; */
  width : 200px;
  height: 100%;
  padding: 5px;
  
/*   
  margin: 3px;
  height : 500px;
  width : 300px;
  background-color: wheat; */

}





.footer {
  /* flex : 1; */
  border-radius: 5px;
  bottom:0;
  width:100%;
  height:130px;   
  /* position: relative;
  clear: both; */
}

.caughtstyle{

  position: relative;
  animation-duration: 4s;
  animation-name : caught;
  z-index: 15;
}

.caughttext{
  position: absolute;
  animation-duration: 4s;
  animation-name : caught;
  z-index: 15;  
}


.s1 {
  text-shadow: 0 1px 0 rgba(255,255,100,.75);
}

.vertex {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: -10px;
  margin-top: -10px;
  box-sizing: border-box;
  background: rgb(0, 120, 175);
  transform: scale(0);
  z-index: 7;
  transition: 0.2s background;
}

.vertex.h {
  background : rgb(255, 65, 65) !important;
}

.vertex:hover {
  background: rgb(175, 0, 73);
  
}

.vertex.highlight {
  background: rgb(164, 226, 255) !important;
}

.vertex.highlight:hover {
  background: rgb(0, 153, 224) !important;  
}

.vertex.animate {
  animation-name: vertexBounce;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}

@keyframes vertexBounce {
  0% {
    transform: scale(0)
  }
  70% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1)
  }
}

.edge {
  position : absolute;
  height : 3px;
  background : #989898;
  opacity: 0;
}

.edge.h {
  background : rgb(240, 255, 0) !important;
}

.edge.animate {
  animation-name: edgeAppearAnimation;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes edgeAppearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ingame .section .agent {
  transition: .5s;
  position :absolute;
  width : 15px;
  height : 15px;
  border-radius : 1000px; 
  transition: 1s width height;
  pointer-events: none;
}


.ingame .section .agent.cop {
  background-image: url(./res/cop.png);
  background-size: 100%;
}

.ingame .section .agent.robber {
  background-image: url(./res/robber.png);
  background-size: 100%;
}

.ingame .section .agent.active {
  animation-duration: 0.4s;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ingame .section .agent.vanish {
  width: 50px;
  height: 50px;
}


@keyframes blinker{
  from {opacity: 1.0; }

  to{ opacity: 0.5;}
}

@keyframes caught{
  /* bounce 로 표현 : top에서 중간으로 떨어지고 boucne */
  
  
  /* 0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:300px; top:0px;}
  50%  {background-color:blue; left:300px; top:1000px;}
  75%  {background-color:green; left:0px; top:1000px;}
  100% {background-color:red; left:0px; top:0px;} */
  0% {transform: scale(1);}
  30% {transform: scaleX(1.25) scaleY(0.75);}
  40% {transform: scaleX(0.75) scaleY(1.25);}
  60% {transform: scaleX(1.15) scaleY(0.85);}
  100% {transform: scale(1);}
}

/* @keyframes bounce {
  0% {
    margin-top: 0px;
  }

  70% {
    margin-top: -20px;
  }

  100% {
    margin-top: -20px;
  }
} */



/* @keyframes bounce {
  0% {
    margin-top: 0px;
  }

  70% {
    margin-top: -20px;
  }

  100% {
    margin-top: -20px;
  }
} */
